# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# DNX
project.lock.json
artifacts/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg

# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Package managers
node_modules/
bower_components/

# Webpack
.awcache/
dist/

# Custom
Properties/
wwwroot/
logs/
appsettings.Development.json
scaffolder.txt
